---
import { Card } from "@/components/ui/card";
---

<div id="about" class="mx-auto px-0 text-lg text-foreground">
    <section class="flex flex-col items-center justify-center text-center">
        <h1 class="text-4xl font-bold text-foreground">about me</h1>
        <div class="mx-auto text-base md:text-lg text-foreground mt-3 max-w-screen-md px-4">
            <p class="mt-3 text-center">
                <strong class="text-accent">Hello and welcome!</strong> I'm glad you're
                here 🙂
        </p>
        <div class = "text-left">
            <p class="mt-3">
                I am Lorenzo Lazzeri, also known as shark812,
                and I am the CEO of Sharklab.
                As CEO, I lead the strategic direction of our studio,
                defining the vision and ensuring our team works effectively
                to achieve our goals.
            </p>
            <p class="mt-3">
                In parallel, I am deeply involved as a mobile game developer.
                My passion lies in transforming creative ideas
                into compelling and successful mobile game experiences,
                focusing on every aspect from technical development
                to the overall product vision.
                At Sharklab, we are dedicated to creating
                innovative mobile games that deliver fun
                and memorable user experiences.
            </p>
            <p class="mt-3">
                Outside of my work in the studio,
                I'm an avid fan of all kinds of sports,
                and lately, I've become quite obsessed with Padel.
                I also have a big love for cats –
                perhaps a well-known stereotype for tech enthusiasts,
                but it's true in my case!
            </p>
        </div>
    </section>
</div>
