---
import HorizontalTimeline from "@/components/ui/resume-timeline";

const timelineEvents = [
{
    id: "1",
    company: "SharkLab SRL",
    title: "CEO and Lead Developer",
    duration: "Jul 2011 - Present",
    details: ["CEO and Lead Android/Unity Developer at my own mobile app company. I manage the full development cycle — from concept to release — including programming, UI/UX, problem solving, and optimization. I also handle user acquisition, app store publishing, and marketing to ensure successful launches."],
    type: "work",
},
    {
    id: "2",
    company: "Speedy SRL",
    title: "IT Programmer",
    duration: "Apr 2019 - Present",
    details: ["Working as an IT Programmer with experience in software development, database management, and IT support. I work primarily with languages such as C# and Java, and manage relational databases using MySQL. My role includes a mix of backend development, basic system administration tasks, and providing technical support to both users and teams. I collaborate closely with colleagues to design, build, and maintain efficient software solutions, and I'm often involved in troubleshooting and solving complex technical issues. Known for a proactive approach and strong problem-solving skills, I contribute to keeping systems stable, secure, and optimized for performance."],
    type: "work",
},

{
    id: "3",
    company: "Consorzio Stabile Olimpo",
    title: "IT Programmer",
    duration: "Apr 2010 - Jan 2014",
    summary: "DB manager and problem solver",
    details: [],
    type: "work",
},
{
    id: "4",
    company: "Datapos",
    title: "IT Programmer",
    duration: "Jul 2009 - Oct 2010",
    summary: "Java and C# developer",
    details: [],
    type: "work",
},
];
---

<div id="resume" class="mx-auto px-0 text-lg text-foreground">
    <section class="flex flex-col items-center justify-center">
        <h1 class="text-4xl font-bold text-foreground mb-6 text-center">
            resume
        </h1>

        <div class="w-full max-w-screen-lg mx-auto">
            <HorizontalTimeline
                client:load
                events={timelineEvents}
                className="bg-background rounded-lg shadow-sm"
            />
        </div>
    </section>
</div>
